<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="classes" thread-count="2">
    <test name="Execute clicking base on excel file" >
        <classes>
            <class name="testClickBasedExcel_Session1" />
            <class name="testClickBasedExcel_Session2" />
        </classes>

    </test>

    <test name="Check actual click on Excel and send mail">
        <classes>
            <class name="checkActualClickOnExcelAndSendEmail"/>
        </classes>
    </test>

</suite>
